# Ignoruj katalogi build
/build*/
out/
bin/
lib/

# Pliki tymczasowe CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Visual Studio i VS Code
.vs/
*.sln
*.vcxproj*
.vcxproj.user
*.VC.db
*.opendb
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Lokalna konfiguracja (ścieżki)
CMakeUserPresets.json
deps.cmake
*.bak
project_files/RibnXtr2022-project_files/ribnxtr2_Files/run_files/.code

# local runtime configs
project_files/**/run_files/config.ini
project_files/**/run_files/geom_config.ini

# Python cache / bytecode
__pycache__/
*.pyc